<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="alt_human_arm_model">

    <xacro:include filename="$(find human_arm_model)/urdf/constants.urdf.xacro" />
    <xacro:include filename="$(find human_arm_model)/urdf/macros.urdf.xacro" />

    <!-- Keep the spine as elevantion. Make the joint about the hips -> adding a second spine -->

    <link name="columna"> <!-- carla columna-->
        <visual>
            <geometry>
                <box size="${2*sternum_radius} ${2*sternum_radius} ${waist_back_length}"/> 
            </geometry>
            <origin xyz="0.0 0.0 ${waist_back_length/2}"/>
        </visual>
        <collision>
            <geometry>
                <box size="${2*sternum_radius} ${2*sternum_radius} ${waist_back_length}"/> 
            </geometry>
            <origin xyz="0.0 0.0 ${waist_back_length/2}"/>
        </collision>
        <xacro:box_inertia m="50.0" x="${sternum_radius}" y="${sternum_radius}" z="${waist_back_length}" />
    </link>

    <joint name="world_to_columna" type="fixed">
        <parent link="base_link"/>
        <child link="columna"/>
        <origin xyz="0.0 0.0 0.0"/>
    </joint>

    <link name="spine"> <!-- actual spine that moves about the hips-->
        <visual>
            <geometry>
                <box size="${2*sternum_radius} ${2*sternum_radius} ${waist_back_length}"/> 
            </geometry>
            <origin xyz="0.0 0.0 ${waist_back_length/2}"/>
        </visual>
        <collision>
            <geometry>
                <box size="${2*sternum_radius} ${2*sternum_radius} ${waist_back_length}"/> 
            </geometry>
            <origin xyz="0.0 0.0 ${waist_back_length/2}"/>
        </collision>
        <xacro:box_inertia m="50.0" x="${sternum_radius}" y="${sternum_radius}" z="${waist_back_length}" />
    </link>

    <!-- forward tilt of 30° seems reasonable -->
    <xacro:joint_template bodypart="columna" suffix="flex" parent="c1" child="spine" >
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        <axis xyz="0.0 1.0 0.0" />
        <limit effort="1000.0" lower="0.0" upper="${30*math.pi/180}" velocity="0.5" />
    </xacro:joint_template>

    <link name="c1">
        <xacro:minimal_interia />
    </link>

    <!-- rotation of 70-80° in each direction is possible -->
    <xacro:joint_template bodypart="columna" suffix="rot" parent="columna" child="c1">
        <origin xyz="0.0 0.0 ${waist_back_length}" rpy="0.0 0.0 0.0" />
        <axis xyz="0.0 0.0 1.0" />
        <limit effort="1000.0" lower="${-70*math.pi/180}" upper="${70*math.pi/180}" velocity="0.5" />
    </xacro:joint_template>


</robot>