<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="alt_human_arm_model">

    <xacro:include filename="constants.urdf.xacro" />
    <xacro:include filename="macros.urdf.xacro" />
    <xacro:include filename="sternoclavicular_joint.urdf.xacro" />
    <xacro:include filename="glenohumeral_joint.urdf.xacro" />
    <xacro:include filename="humeroulnar_joint.urdf.xacro" />

    <!-- layout: -->
            <!-- 1. sternum -->
            <!-- 2. sternoclavicular joint -->
            <!-- 3. clavicular -->
            <!-- 4. glenohumaral joint -->
            <!-- 5. humerus -->
            <!-- 6. Humeroulnar joint -->
            <!-- 7. forearm -->
            <!-- 8. wrist joint -->
            <!-- 9. hand -->
        <!-- 7. and 8. are simplified significantly, both reduced from 2 subparts to 1, as the complexity is not needed here  -->

    <link name="base_link"/>
    <joint name="world_to_columna" type="fixed">
        <parent link="base_link"/>
        <child link="columna"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="columna"> <!-- carla columna-->
        <visual>
            <geometry>
                <box size="${sternum_radius*2} ${sternum_radius*2} ${waist_back_length}"/> 
            </geometry>
            <origin xyz="0 0 ${waist_back_length/2}"/>
        </visual>
        <collision>
            <geometry>
                <box size="${sternum_radius*2} ${sternum_radius*2} ${waist_back_length}"/> 
            </geometry>
            <origin xyz="0 0 ${waist_back_length/2}"/>
        </collision>
    </link>

    
    <xacro:cylinder_link_template name="clavicular" mass="1" radius="${sternum_radius/2}" height="${clavicle_link_length}">
        <origin xyz="0 ${clavicle_link_length/2} 0" rpy="${math.pi/2} 0 0"/>
    </xacro:cylinder_link_template>


    <xacro:cylinder_link_template name="humerus" mass="1" radius="${upperarm_radius}" height="${upperarm_length}">
        <origin xyz="0 0 ${-upperarm_length/2}" rpy="0 0 0"/>
    </xacro:cylinder_link_template>

    <xacro:cylinder_link_template name="forearm" mass="1" radius="${forearm_circumference / (2*math.pi)}" height="${elbow_wrist_length}">
        <origin xyz="0 0 ${-elbow_wrist_length/2}" rpy="0 0 0"/>
    </xacro:cylinder_link_template>

    <xacro:bodypart_template bodypart="wrist" suffix="yaw" parent="forearm" child="hand">
        <origin xyz="0 0 ${-elbow_wrist_length}"/>
        <axis xyz="1 0 0" />
        <limit effort="1000" lower="${hand_palmarflexion}" upper="${hand_dorsalextension}" velocity="0.5" />
    </xacro:bodypart_template>


    <link name="hand">
        <visual>
            <geometry>
                <box size="${hand_thickness} ${hand_length} ${hand_width}"/>
            </geometry>
            <origin xyz="0 0 ${-hand_length/2}" rpy="${90*math.pi/180} 0 ${90*math.pi/180}"/>
        </visual>
        <collision>
            <geometry>
                <box size="${hand_thickness} ${hand_length} ${hand_width}"/>
            </geometry>
            <origin xyz="0 0 ${-hand_length/2}" rpy="${90*math.pi/180} 0 ${90*math.pi/180}"/>
        </collision>
    </link>

    <joint name="hand_can_joint" type="fixed">
        <parent link="hand"/>
        <child link="can"/>
        <origin xyz="0 ${-hand_thickness} ${-hand_length} "/>
    </joint>

    <xacro:cylinder_link_template name="can" mass="1" radius="${can_radius}" height="${can_height}">
        <origin xyz="0 0 0" rpy="${90*math.pi/180} 0 ${90*math.pi/180}"/>
    </xacro:cylinder_link_template>

</robot>