<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- sizes -->
    <xacro:property name="upperarm_length" value="0.3637"/>
    <xacro:property name="elbow_wrist_length" value="0.2869"/>
    <xacro:property name="upperarm_circumference" value="0.3581"/>
    <xacro:property name="wrist_circumference" value="0.1759"/>
    <xacro:property name="forearm_circumference" value="0.3101"/>
    <xacro:property name="can_radius" value="0.035"/>
    <xacro:property name="can_height" value="0.12" />
    <xacro:property name="hand_circumference" value="0.2123"/>
    <!-- Length of handpalm which might be approx. center of can: -->
    <xacro:property name="hand_length" value="0.1165" /> 
    <xacro:property name="hand_thickness" value="${(hand_circumference-2*hand_width)/2}" />
    <xacro:property name="hand_width" value="0.0883" />

    <!-- Winkel -->
     <!-- Diese sind Bewegungsamplituden und nicht 1:1 im Model vorwendbar. -->
    <xacro:property name="shoulder_ab_min" value="${-10*math.pi/180}" />
    <xacro:property name="shoulder_ab_max" value="${170*math.pi/180}" />
    <xacro:property name="shoulder_flex_min" value="${-60*math.pi/180}" />
    <xacro:property name="shoulder_flex_max" value="${170*math.pi/180}" />
    <xacro:property name="shoulder_rot_min" value="${-60*math.pi/180}" />
    <xacro:property name="shoulder_rot_max" value="${90*math.pi/180}" />   
    <xacro:property name="elbow_flex_min" value="${-90*math.pi/180}" />
    <xacro:property name="elbow_flex_max" value="${60*math.pi/180}" />

    <!-- angles from anatomy book -->
     <xacro:property name="hand_palmarflexion" value="${-85*math.pi /180}" />
     <xacro:property name="hand_dorsalextension" value="${85*math.pi /180}" />
     


    <!-- ___________________ Macro for joints __________ -->

    <xacro:macro name="bodypart_template" params="bodypart suffix parent child:='' *origin *axis *limit">
        <joint name="${bodypart}_${suffix}_joint" type="revolute">
            <parent link="${parent if (parent in ['torso', 'upperarm', 'forearm']) else bodypart+'_'+parent+'_link'}"/>
            <child link="${child if child != '' else bodypart+'_' + suffix + '_link'}"/>
            <xacro:insert_block name="origin"/>
            <xacro:insert_block name="axis"/>
            <xacro:insert_block name="limit"/>
        </joint>
        <xacro:if value="${child == ''}">
            <link name="${bodypart}_${suffix}_link">
            </link>
        </xacro:if>
    </xacro:macro>
</robot>