<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="macros.urdf.xacro" />

    <!-- sizes -->
    <xacro:property name="upperarm_length" value="0.3637"/>
    <xacro:property name="elbow_wrist_length" value="0.2869"/>
    <xacro:property name="upperarm_circumference" value="0.3581"/>
    <xacro:property name="wrist_circumference" value="0.1759"/>
    <xacro:property name="forearm_circumference" value="0.3101"/>
    <xacro:property name="can_radius" value="0.035"/>
    <xacro:property name="can_height" value="0.12" />
    <xacro:property name="hand_circumference" value="0.2123"/>
    <!-- Length of handpalm which might be approx. center of can: -->
    <xacro:property name="hand_length" value="0.1165" /> 
    <xacro:property name="hand_thickness" value="${(hand_circumference-2*hand_width)/2}" />
    <xacro:property name="hand_width" value="0.0883" />

    <xacro:property name="waist_back_length" value="0.4776" />
    <xacro:property name="shoulder_length" value="0.1498" />
    <xacro:property name="clavicle_link_length" value="0.2081" />
    <xacro:property name="sternum_radius" value="${clavicle_link_length - shoulder_length}" />
    <xacro:property name="clavicle_raidus" value="0.015"/>

    <!-- Winkel -->
    <!-- Diese sind Bewegungsamplituden und nicht 1:1 im Model vorwendbar. -->
    <xacro:property name="shoulder_ab_min" value="${-10*math.pi/180}" />
    <xacro:property name="shoulder_ab_max" value="${170*math.pi/180}" />
    <xacro:property name="shoulder_flex_min" value="${-60*math.pi/180}" />
    <xacro:property name="shoulder_flex_max" value="${170*math.pi/180}" />
    <xacro:property name="shoulder_rot_min" value="${-60*math.pi/180}" />
    <xacro:property name="shoulder_rot_max" value="${90*math.pi/180}" />   
    <xacro:property name="elbow_flex_min" value="${-90*math.pi/180}" />
    <xacro:property name="elbow_flex_max" value="${60*math.pi/180}" />

    <!-- calculated values -->
    <xacro:property name="upperarm_radius" value="${upperarm_circumference/(2* math.pi)}"/>

    <!-- angles from anatomy book -->
    <xacro:property name="hand_palmarflexion" value="${-85*math.pi /180}" />
    <xacro:property name="hand_dorsalextension" value="${85*math.pi /180}" />

    <!-- Sternoklavikularjoint -->
    <xacro:property name="Sternoklavikularjoint_elevation" value="${30*math.pi/180}"/>
    <xacro:property name="Sternoklavikularjoint_depression" value="${-5*math.pi/180}" /> 
    <xacro:property name="Sternoklavikularjoint_protraktion" value="${30*math.pi/180}"/>
    <xacro:property name="Sternoklavikularjoint_retraktion" value="${-30*math.pi/180}" />
    <xacro:property name="Sternoklavikularjoint_anteriorrotation" value="${30*math.pi/180}"/>
    <xacro:property name="Sternoklavikularjoint_posteriorrotation" value="${-30*math.pi/180}" />

    <!-- Glenohumeraljoint -->
    <xacro:property name="glenohumeraljoint_abduktion" value="${90*math.pi/180}" />
    <xacro:property name="glenohumeraljoint_adduktion" value="${0*math.pi/180}" />
    <xacro:property name="glenohumeraljoint_anteversion" value="${80*math.pi/180}" />
    <xacro:property name="glenohumeraljoint_retroversion" value="${-40*math.pi/180}" />
    <xacro:property name="glenohumeraljoint_exorotation" value="${60*math.pi/180}" />
    <xacro:property name="glenohumeraljoint_endorotation" value="${-100*math.pi/180}" />


    <!-- Humeroulnarjoint -->
    <xacro:property name="humeroulnarjoint_flexion" value="${160*math.pi/180}" />
    <xacro:property name="humeroulnarjoint_extension" value="${-15*math.pi/180}" />
    <xacro:property name="humeroulnarjoint_pronation" value="${85*math.pi/180}" />
    <xacro:property name="humeroulnarjoint_supination" value="${-90*math.pi/180}" />
    

    <!-- weights as percentage of whole body -->
    <xacro:property name="bodyweight" value="85.8"/> 
    <xacro:property name="upperarm_weight" value="${bodyweight * 0.029}"/>
    <xacro:property name="forearm_weight" value="${bodyweight * 0.017}" />
    <xacro:property name="hand_weight" value="${bodyweight * 0.007}" />


    <xacro:property name="can_weight" value="0.45"/>


    <xacro:arg name="side" default="right"/>
    <xacro:if value="${'$(arg side)'=='right'}">
        <xacro:property name="right" value="-1"/>
    </xacro:if>
    <xacro:unless value="${'$(arg side)'=='right'}">
        <xacro:property name="right" value="1"/>
    </xacro:unless>
    

</robot>