<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="alt_human_arm_model">

    <xacro:include filename="constants.urdf.xacro" />
    <xacro:include filename="macros.urdf.xacro" />


    <xacro:joint_template bodypart="elbow" suffix="yaw" parent="humerus" child="forearm_yaw">
        <origin xyz="0 0 ${-upperarm_length}"/>
        <axis xyz="0 -1 0" />
        <limit effort="1000" lower="${humeroulnarjoint_extension}" upper="${humeroulnarjoint_flexion}" velocity="0.5" />
    </xacro:joint_template>


    <link name="forearm_yaw"/>

    <xacro:joint_template bodypart="elbow" suffix="roll" parent="forearm_yaw" child="forearm">
        <origin xyz="0 0 0"/>
        <axis xyz="0 0 1" />
        <limit effort="1000" lower="${humeroulnarjoint_supination}" upper="${humeroulnarjoint_pronation}" velocity="0.5" />
    </xacro:joint_template>



</robot>