<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="alt_human_arm_model">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import alt_human_arm_model urdf file -->
    <xacro:include filename="$(find human_arm_model)/urdf/alt_model.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="alt_human_arm_model.ros2_control.xacro" />


    <xacro:alt_human_arm_model_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
