<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="human_arm_model3_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="model1_right_shoulder_rotation_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['model1_right_shoulder_rotation_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="model1_right_shoulder_abduction_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['model1_right_shoulder_abduction_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="model1_right_shoulder_flexion_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['model1_right_shoulder_flexion_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="model1_right_elbow_flexion_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['model1_right_elbow_flexion_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="model1_right_elbow_rotation_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['model1_right_elbow_rotation_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="model1_right_wrist_flexion_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['model1_right_wrist_flexion_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
